<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <connectionStrings>
   <add name="DefaultConnection" connectionString="Data Source = LAPTOP-B3D7R5IQ;Initial Catalog = Organaizer; Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>